.modal_layout {
    width: 100vw;
    height: 100dvh;

    background: rgba(47, 47, 47, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}