:root {
  /* font family */
  --dm-sans: "DM Sans", sans-serif;

  /* color */
  --primary-color: #FF7373;
  --secondary-color: #73ABFF;
  --error-color: #FF0E0E;

  --green-color: #7EFF73;

  --disabled-color: #737573;

  --red-color: #FF0000;
  --blue-color: #085CFF;

  font-family: var(--dm-sans);
}


input {
  font-family: var(--dm-sans);
}